.App {
  text-align: center;
  margin-top: 300px;
  font-size: 40px;
  font-family: 'Caveat', cursive;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
}
button {
  background: #dbecc4;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
p {
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 8em .5em 8em;
  background: #cdc3df;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
